<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width'>
	<link rel='icon' type='image/png' href='/favicon.ico'>

	<title>packd | server error</title>

	<style>
	body {
		font-family: arial;
		background-color: #222
	}
	
	h1 {
		font-size: 10vw;
		text-transform: uppercase;
		color: #444;
		text-shadow: 1px 1px gray,-1px -1px gray,-1px 1px gray,1px -1px gray;
		margin: 0 0 1em
	}
	
	h1:first-letter {
		border: .1px solid #444;
		padding: 0 .15em;
		margin-right: -.3em
	}
	h2 {
		font-size: 8vw;
		color: #444;
	}
	
	a,p {
		color: gray;
	}
	
	code {
		color: rgb(200,0,0);
		background: rgba(200,0,0,0.2);
		padding: 0.5em 1em;
		display: block;
	}
	</style>
</head>
<body>
	<h1>packd</h1>
	<h2>server error</h2>

	<p>Please <a href='https://github.com/Rich-Harris/packd/issues'>raise an issue</a>, quoting this URL.</p>

	<code>Error!</code>
</body>
</html>